:root{
    --primary-color:#D04848;
    --secondary-color: #3D3B40;
    --background-color: white;
    --dark-color:#000;
    --light-color:#f4f4f4e3;
    --text-color: black;
    
}

/* Basic styling */

/* Universal selector*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--background-color);

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
    display: block;
}

a:hover{
    color: var(--primary-color);
}

.hidden{
    display: none;
}



.container{
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.red-bd-left{
    border-left: var(--primary-color) solid 5px;
    border-radius: 2px;
    padding-left: 5px;
}

/* Navigation */

.fg--search {
    background: white;
    position: relative;
    width: 500px;
  }
  
  .fg--search input {
    width: 100%;
    padding: 5px;
    display: block;
  }
  
  .fg--search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    padding: 7px;
    margin-right: 5px;
    top: 0;
    right: 0;
    z-index: 2;
    color: #000;
  }


.navbar{
    background-color: var(--secondary-color);
    border-bottom: lightgray solid 1px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar h2{
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal; 
    font-size: 20px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 2px;
    padding: 5px;

}


.navbar nav ul{
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}



.navbar nav a{
    color: white;

    margin: 0 20px;
    font-size: 1.1rem;
}

.navbar nav a:hover{
    color: var(--primary-color);
}


/* Home page */

h1{
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal; 
    font-size: 70px;
}

.hot-movies h2, .new-reviews h2{
    margin: 20px 0px;
}

.hot-movies, .new-reviews {
    margin-bottom: 40px;
}

.showcase .container{
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.showcase img{
    height: 175px;
    object-fit: contain;
}

.showcase a{
    font-size: 8px;
    text-orientation: mixed;
    writing-mode: vertical-lr;
}


.movie h4,
.movie p{
    margin-left: 7.5px;
}

.movie a{
    color: black;
}


.movie img
{
    height: 250px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px;
}

.review img{
    height: 175px;
    width: 125px;
    object-fit: cover;
    border-radius: 10px;
}

.review p{
    margin: 5px 0px;
}


.review{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 30px 0px;
}

a.read{
    color: rgb(57, 118, 220);
    margin-left: auto;
    width: fit-content;
}

/* Movie Sum*/

.movie-sum{
    padding-top: 100px
}

.movie-sum .container{
    gap: 30px
}

.movie-sum h2{
    font-size: 2rem;
   
}

.movie-sum h3{
    padding-left: 10px;
}

.movie-sum p{
    padding-left: 10px;
    margin-top: 20px;
}


.movie-sum img{
    height: 250px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px;
}

/* Reviews */

.reviews{
    margin-top: 50px;
}

/* Full review */
.full-review .container{
    margin-top: 50px;
} 



.full-review p{
    margin: 30px 0px 20px 0px;
}